<div class="container mt-4">

    <h2>Liste des Produits</h2>

    <a routerLink="/ajouter" class="btn btn-primary mb-3">
        Ajouter
    </a>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let produit of produits">

                <td>{{produit.id}}</td>
                <td>{{produit.nom}}</td>
                <td>{{produit.description}}</td>
                <td>{{produit.prix}}</td>
                <td>{{produit.quantite}}</td>

                <td>

                    <a
                      [routerLink]="['/modifier', produit.id]"
                      class="btn btn-warning btn-sm me-2">
                        Modifier
                    </a>

                    <button
                      class="btn btn-danger btn-sm"
                      (click)="supprimer(produit.id!)">
                        Supprimer
                    </button>

                </td>

            </tr>
        </tbody>

    </table>

</div>
